// Navigation code here
.main-header {
   background-color: @wild-sand;
   display: flex;
   .display();

   h2 {
       padding-top: 5px;
       font-size: 3.9rem;
       margin-bottom: 15px; 
   }

   nav {
       margin-bottom: 10px;

       a {
        color: @ebony-clay;
        padding: 15px;
        margin-bottom: 5px;  
        .navlinks   
        }
    } 
}